---
import '../styles/globals.css';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import LogoLoop from '../components/LogoLoop';
import About from '../components/About.astro';
import '../components/About.css';
import Showcase from "../components/Showcase";
import "../components/Showcase.css";
import Contact from "../components/Contact";
import "../components/Contact.css";
---

<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />
  <title>Portfolio</title>

  <script async src="https://www.googletagmanager.com/gtag/js?id=G-S5BF4PP1CD"></script>

  <script is:inline>
    window.dataLayer = window.dataLayer || [];
    function gtag(){window.dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-S5BF4PP1CD');
  </script>
</head>

  <body>
    <main class="container">
      <Navbar />
      <Hero />
      <LogoLoop client:load />
        <About />
       <Showcase client:visible />  
       <Contact client:visible />
    </main>
  </body>
</html>

<style>
body {
  margin: 0;
  background:
    radial-gradient(circle at top,
      rgba(124, 58, 237, 0.25),
      transparent 40%),
    #000;

  font-family: system-ui, sans-serif;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}
</style>