---
import Terminal from './Terminal.tsx';
import './Terminal.css';
---
<section class="about">
  <div class="about-container">

    <div class="left">
      <h2>About</h2>

      <p>
        I'm a backend-focused developer working primarily with Python.
        I build scalable APIs, design clean system architectures, and
        focus on performance and reliability.
      </p>

      <p>
        My work revolves around Django, PostgreSQL, and building systems
        that are simple, efficient, and maintainable.
      </p>
    </div>

    <div class="right">
     <Terminal client:load />
    </div>

  </div>
</section>