---
import StaggeredText from './StaggeredText';
import ShinyText from './ShinyText';
---

<section class="hero">
  <div class="left">
    <p class="intro">Hi, I'm Owaiz</p>
    <h1>
      <div class="hero-title-line gradient-text">
        <StaggeredText client:load text="Python      Developer" />
      </div>
    </h1>
  </div>

  <div class="right">
    <ShinyText
      client:load
      text="Designing and developing backend systems using Python, Django, and modern database solutions."
      speed={3}
      delay={0}
      color="#b5b5b5"
      shineColor="#ffffff"
      spread={120}
      direction="left"
      yoyo={false}
      pauseOnHover={false}
      disabled={false}
    />
  </div>
</section>

<style>
  .hero {
    display: grid;
    grid-template-columns: 0.5fr 0.8fr;
    gap: 50px;
    margin-top: 10px;
    align-items: center;
    min-height: 50vh;
    color: white;
  }

  .left h1 {
    font-size: 58px;
    line-height: 1.2;
    margin: 0;
  }

  .intro {
    color: #9ca3af;
    font-size: 20px;
    margin-bottom: 8px;
  }

  .right {
    display: flex;
    align-items: center;
  }

  .right span {
    font-size: 18px;
    line-height: 1.7;
    max-width: 420px;
  }
</style>
