.staggered-text {
  display: inline-block;
}

.staggered-letter {
  display: inline-block;
  opacity: 0;
  filter: blur(8px); 
  animation: staggerFadeIn var(--animation-duration, 0.5s) ease-out forwards;
}


@keyframes staggerFadeIn {
  0% {
    opacity: 0;
    transform: translateY(10px);
    filter: blur(8px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}
